<mat-toolbar>
    <img src="/assets/img/oddo.ico" />
    <span class="example-spacer" style="font-size:25px;color:white;">{{ 'toolbar.title' | translate }}</span>
    <label routerLink="/dashbord" class="label" style="font-size:20px;color:white;font-family: Helvetica, Arial, sans-serif;" > {{ 'button.dashbord' | translate }}</label>

    <label routerLink="/collaborateur-list" class="label" style="font-size:20px;color:white;font-family: Helvetica, Arial, sans-serif;" > {{ 'button.employee' | translate }}</label>
    <label mat-button [matMenuTriggerFor]="afterMenu"  class="label" style="font-size:20px;color:white;font-family: Helvetica, Arial, sans-serif;" >{{ 'button.internal_training' | translate }}</label>
    <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/formation-list" style="font-family: Helvetica, Arial, sans-serif;" >{{ 'button.create_training' | translate }}</button>
    <button mat-menu-item routerLink="/sessionformation-list">{{ 'button.create_training_session' | translate }}</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="languageMenu" aria-label="Language">
        <mat-icon>language</mat-icon>    </button>
    <mat-menu #languageMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="switchLanguage('fr')">{{ 'toolbar.fr' | translate }}</button>
    <button mat-menu-item (click)="switchLanguage('en')">{{ 'toolbar.en' | translate }}</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item>
    <mat-icon (click)="logout()"  class="logout">settings_power</mat-icon>
    <span  class="logout">{{ 'toolbar.logout' | translate }}</span>
    </button>
    </mat-menu>
    </mat-toolbar>


<mat-card>

    <div>
        <div> <button mat-raised-button color="warn" routerLink="/collaborateur-list">
            <mat-icon>arrow_back_ios</mat-icon>
                           {{ 'button.return_to_main_list' | translate }}
            </button></div>

        <div>

            <mat-card-content>

                <h4 style="font-size:30px;color:red ; font-family: Helvetica, Arial, sans-serif;">
                    <b>
                        
                        {{isEdit ? ('form.employee_change_form' | translate) : ('form.create_new_employee_form' | translate) }}                    </b>
                    </h4>
                <form [formGroup]="Collabform" (ngSubmit)="save()">

                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                        <mat-label>{{ 'form.first_and_last_name' | translate }}</mat-label>
                        <input type="text" matInput placeholder="{{ 'form.first_and_last_name' | translate }}" formControlName="collab_Name" />
                        </mat-form-field>
                        </div>

                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.analytical_code' | translate }}</mat-label>
                            <input type="text" matInput placeholder="{{ 'form.analytical_code' | translate }}"
                                formControlName= "collab_Analytical_Code"/>
                        </mat-form-field>
                    </div>

                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.group_number' | translate }}</mat-label>
                            <input type="number" matInput placeholder="{{ 'form.group_number' | translate }}"
                                formControlName="collab_Tunis_Num" />
                        </mat-form-field>
                    </div>

                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.recruitment_date' | translate }}</mat-label>
                            <input matInput [matDatepicker]="picker"  formControlName="collab_Recrutement_Date" >
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
 
 
                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.date_of_birth' | translate }}</mat-label>
                            <input matInput [matDatepicker]="pickers" formControlName="collab_Birth_Date">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="pickers"></mat-datepicker-toggle>
                            <mat-datepicker #pickers></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.sex' | translate }}</mat-label>
                            <mat-select placeholder="{{ 'form.sex' | translate }}" formControlName="collab_Sex" >
                                <mat-option [value]="item" *ngFor="let item of sexList">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.university' | translate }} </mat-label>
                            <input type="text" matInput placeholder="{{ 'form.university' | translate }}" formControlName="collab_university" />
                        </mat-form-field>
                    </div>

                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.diploma' | translate }}</mat-label>
                            <input type="text" matInput placeholder="{{ 'form.diploma' | translate }}" formControlName="collab_Diplome" />
                        </mat-form-field>
                    </div>

                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.years_of_experience' | translate }}</mat-label>
                            <input type="number" matInput placeholder="{{ 'form.years_of_experience' | translate }}"
                                formControlName="collab_years_experience" />
                        </mat-form-field>
                    </div>


                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.department' | translate }} </mat-label>
                            <input type="text" matInput placeholder="{{ 'form.department' | translate }} "
                                formControlName="collab_Departement" />
                        </mat-form-field>
                    </div>


                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.team' | translate }} </mat-label>
                            <input type="text" matInput placeholder="{{ 'form.team' | translate }}" formControlName="collab_Equipe" />
                        </mat-form-field>
                    </div>


                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.position_held' | translate }}</mat-label>
                            <input type="text" matInput placeholder="{{ 'form.position_held' | translate }}" formControlName="collab_Poste" />
                        </mat-form-field>
                    </div>


                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.type_of_contract' | translate }}</mat-label>
                            <mat-select placeholder="{{ 'form.type_of_contract' | translate }}" formControlName="collab_type_Contrat">
                                <mat-option [value]="item" *ngFor="let item of typecontratList">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.manager' | translate }} </mat-label>
                            <input type="text" matInput placeholder="{{ 'form.manager' | translate }} " formControlName="collab_Manager" />
                        </mat-form-field>
                    </div>


                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.leader' | translate }} </mat-label>
                            <input type="text" matInput placeholder="{{ 'form.leader' | translate }}" formControlName="collab_teamLead" />
                        </mat-form-field>
                    </div>

                    <div class="w-full flex flex-warp">
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'form.status' | translate }}  </mat-label>
                            <input type="number" matInput placeholder="{{ 'form.status' | translate }}" formControlName="collab_status" />
                        </mat-form-field>
                    </div>
                




                    <mat-card-footer>

                        <div class="flex justify-center">
                            <!-- <button mat-raised-button color="warn" [disabled]="!Collabform.valid" type="submit">
                                {{isEdit ?'To modify':'ADD'}}</button> -->
                                <button mat-raised-button color="warn" [disabled]="!Collabform.valid" type="submit">
                                    {{isEdit ? ('button.modify' | translate) : ('button.add' | translate) }}
                                 </button>
                        </div>

                    </mat-card-footer>
                </form>
            </mat-card-content>

        </div>
    </div>


</mat-card>